{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    Number of Categories: {{ categories|length }} <br>
    <a href="{{ path('newCategory')}}" ><button type="button" class="btn btn-success">Add new Category</button></a>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Slug</th>
            <th></th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% set count = 0 %}
        {% for category in categories %}
            {% set count = count + 1 %}
            <tr>
                <td>{{ count }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.slug }}</td>
                <td><a href="{{ path('editCategory', {'id': category.id})}}" ><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td><a href="{{ path('deleteCategory', {'id': category.id})}}"><button type="button" class="btn btn-danger">Delete</button></a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
